.element{
	float:right;
	font-size: 20px;
}
h2{
	position: absolute;
    top: 2%;
    right: 80%;
    font-size: 180%;
}
.home{
	position: absolute;
    top: 3%;
    left: 63%;
}
.services{
	position: absolute;
    top: 3%;
    left: 69%;
}
.skills{
	position: absolute;
    top: 3%;
    left: 76%;
}
.works{
	position: absolute;
    top: 3%;
    left: 82%;
}
p{
	float: left;
	position:absolute;
	top: 40%;
	left: 15%;
	transform: translate(-50%,-50%);
	padding-left: 10%;
	padding-top: 10%;
	font-size: 300%; 
	color: blueviolet;
}
p1{
	float: left;
	position:absolute;
	top: 65%;
	left: 10%;
	color: black; 
	font-size: 200%;
}
.About{
	height: 700px;
	width: 100%;
	border: 3px solid gray;
}
.About img{
	float: left;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 10%;
}
.About p2{
	font-size: 150%;
	text-align: center;
	color: #FAF9F6;
}
.About h4{
	text-align: right; 
	padding-right: 20%;
	font-size: 300%;
	color: #FFC72C;
}
.courses{
	height: 700px;
	width: 100%;
	border: 3px solid gray;
}
.courses img{
	float: right;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 10%;
	height: 50%;
	width: 30%;
}
.courses p2{
	font-size: 150%;
	text-align: center;
	border: 2px;
	display: block;
	padding-left: 10%;
	color: #FAF9F6;

}
.courses h4{
	text-align: left; 
	padding-left: 20%; 
	font-size: 300%; 
	padding-bottom: 5%; 
	padding-top: 1.5%;
	color: #FFC72C;
}
.s{
	height: 700px;
	width: 100%;
	border: 3px solid gray;
}
.s img{
	float: left;
	padding-left: 15%;
	padding-right: 25%;
	padding-top: 10%;
	height: 50%;
	width: 30%;
}
.s p2{
	font-size: 150%;
	text-align: left;
	border: 2px;
	display: inline-block;
	padding-right: 10%;
	color: #FAF9F6;
}
.s h4{
	text-align: right; 
	padding-right: 20%;
	font-size: 300%;
	padding-bottom: 1.5%; 
	padding-top: 1.5%;
	color: #FFC72C;
}
.icons p4{
	text-align: center;
	float: center;
	padding-top:3%;
	padding-left:45%;
	color: #FAF9F6;
}
.icons img{
	width: 10%;
	padding-left:45%;
}
